img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
header img {
  height: 32px;
  display: inline-block;
}
nav {
  margin: 20px 0;
  font-size:larger;
}
nav a {
  display: block;
  padding: 5px;
  text-align: center;
  background-image: none;
  text-decoration: none !important;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
nav a:hover {
  color: rgba(0, 0, 0,.76);
}
nav a.current {
  color: rgba(0, 0, 0, .76)
}
@media all and (min-width: 600px) {
  .website-title {
    text-align: left;
  }
  nav {
    position: absolute;
    top: 0px;
    right: 20px;
    margin: 0;
  }
  nav a {
    display: inline-block;
    padding: 5px 8px;
  }
  .website-title {
    margin-bottom: 80px;
  }
}

.pdf-viewer{
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding: 8px 0 0 0;
}

.post-meta{
        border-bottom:1px solid #eaecef;
        display:block;
        margin-bottom: 0.6em;
}

.post-meta h1{
    margin-right: 24px;
    margin-bottom: 0px; 
    border-bottom: none;
    line-height: 1;
}
.post-date{
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.pagination .left {
  float: left;
}
.pagination .right {
  float: right;
}

.body {
  position: relative;
}





.post-thumbnail img{
    border-radius: 10px;
}


.post-thumbnail{
    display: block;
    float: none;
    max-height: 200px;
    width: 100%;
    width: inherit;
    margin-right: auto;
    margin-left: auto;
    overflow:hidden;
}
.post-container{
    box-shadow: 0 7px 15px grey;
    margin-bottom: 1.5em;
    border-radius: 10px;
    width: 100%;
}
.post-block{
    display: block;
    margin: 1em;
}

@media all and (min-width: 600px) {
    .post-container{
        box-shadow: 0 7px 15px grey;
        margin-bottom: 1.5em;
        border-radius: 10px;
        height:18em;
        width: 100%;
        display:flex;
    }
    .post-block{
        width:100%;
        display: block;
        margin: 1em;
    }
    .post-thumbnail{
        min-height:100%; 
        max-height:100%;
        height: 100%;
        display: block; 
        width: 40%; 
        overflow: hidden;
	margin-left:0;
    }

    .post-thumbnail img{
        height: 100%;
        display: block;
        max-height:100%;
        max-width:none;
        width:auto;

    }
}

@media all and (max-width: 600px) {
.post-block{
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.post-thumbnail{
    margin-bottom:-1em;
}
}

.responsive-table{
  display: flex;

  align-items: stretch;
  flex-wrap: wrap;
} 


@media (max-width: 480px) {
    .responsive-table div {
        max-width: 98%;
    }
}
@media (min-width: 480px) and (max-width: 1080px) {
    .responsive-table div {
        max-width: 48%;
    }
}
@media (min-width: 1080px) {
    .responsive-table div {
        max-width: 23%;
    }
}